extends layout

block content
  h1= title
  - var results = results
  div(class = 'container-fluid')
    each result, index in results
      - let destination=`dispatch(\"/raftboat/update?id=${result._id}\")`
      div(class='row', onclick=`buy(${index})`)
        button.btn(class="btn-primary mb-2 col-sm-2", onclick= destination) Update
        div(class='col-sm-2') #{result.substance} 
        div(class='col-sm-2') #{result.size}
        div(class='col-sm-2') #{result.price}

  script.
    function buy(index) {
      alert('You purchased item ' + index);
    }
    function dispatch(path){
      window.location.href=path
    }